* {
  margin: 0;
  padding: 0;
}

.webpage{
    background-color: #1f1e1e;
    background-size: cover;
}

html{
    background-color: #1f1e1e;
    background-size: cover;
}

/* body {
  background-image: url("DarkBg.jpeg");
} */

.title {
  color: #ffb400;
  font-size: 4.5vw;
  font-family: "Anton", sans-serif;
  /* padding-top: 230px; */
  padding-top: 18vw;
  margin-left: 50vw;
  /* padding-left: 660px; */
  padding-right: 2vw;
  /* margin-bottom: 0vw; */
  font-weight: bold;
  line-height: 4.5vw;
  /* display: flex; 
    flex-direction: column;  */
  position: relative;
  white-space: nowrap;
}
#title2 {
  position: relative;
  color: white;
  margin-left: 3vw;
  margin-top: 0.2vw;
  /* padding-right: 5vh; */
}

#myImg {
  position: absolute;
  /* padding-left: 110px; */
  /* padding-top: 150px; */
  padding-left: 6vw;
  padding-top: 8vw;
  /* margin-right: 5vw; */
  width: 40vw;
  height: 40vw;
  border-radius: 1vw;
  /* width: 90vh; */
  /* height: 590px; */
  /* border-top-left-radius: 40%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 70px;
    border-bottom-left-radius: 70px; */
  /* border: 2px solid white; */
}

.caption {
  position: relative;
  color: white;
  margin-top: 15px;
  /* margin-left: 660px; */
  margin-left: 50vw;
  padding-right: 7vw;
  font-size: 1.5vw;
  /* font-size: 3vh; */
  /* white-space: wrap; */
  /* line-height: 5vh; */
}

.resume {
  position: relative;
  font-size: 10vw;
  margin-left: 32vw;
  margin-bottom: 2vw;
  color: white;
  padding-top: 11vw;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  color: #30302e;
}
#contact{
    margin-left: 29vw;
    padding-top: 4vw;
}
.aboutMe-title {
  position: absolute;
  display: inline;
  color: white;
  margin-top: 3.3vw;
  margin-left: -37vw;
  font-size: 5.5vw;
}
#getInTouch{
  margin-top: 3.3vw;
  margin-left: -43vw;
}

.me {
  display: inline;
  color: #ffb400;
}

.pinfo {
  color: white;
  /* font-weight: bold; */
  font-family: "Anton", sans-serif;
  font-size: 2.6vw;
  margin-left: 10vw;
  /* margin-bottom: 1vw; */
}
.mainTable {
  display: flex;
  flex-direction: column;
}
.table {
  display: flex;
  flex-direction: row;
}
.details {
  color: #9c9897;
  font-size: 2vw;
  /* padding-top: 5vw; */
  margin-left: 15vw;
  display: inline;
}
.myDetails {
  display: inline;
  color: white;
  font-size: 2vw;
  margin-right: 2vw;
  /* margin-top: 2vw;
    margin-left: 1vw; */
}
#fname {
  margin-left: 0vw;
  /* margin-top: 1vw; */
}

td {
  padding-top: 1vw;
}

#mySkills {
  color: white;
  margin-top: 3.5vw;
  margin-left: 10vw;
  font-family: "Anton", sans-serif;
  font-size: 2.6vw;
}

/* .mySkills{
  display: flex;
  flex-direction: row;
} */

.donut{
    margin-top: 2vw;
    margin-left: 10vw;
    height: 5px;
    display: flex;
    flex-direction: row;
}

.html-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    /* border: 1px solid #ffb400; */
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 3vw;
}
.html-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.css-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 3vw;
}
.css-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.bs-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 3vw;
}
.bs-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.js-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 3vw;
}
.js-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.rt-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 5vw;
}
.rt-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.c-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 5vw;
}
.c-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.jv-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 5vw;
}
.jv-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.db-donut{
    position: relative;
    /* display: flex; */
    background-color: #ffb400;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: 5vw;
}
.db-donut2{
    position: absolute;
    display: inline;
    background-color: #1f1e1e;
    border-radius: 50%;
    /* align-items: center; */
    margin-top: 1vw;
    margin-left: 1vw;
    height: 10vw;
    width: 10vw;
}

.sq1{
    position: absolute;
    background-color: #1f1e1e;
    height: 3vw;
    width: 3vw;
    /* transform: rotate(45deg);     */
    margin: -2vw;
    margin-left: 2vw;
}
#js-sq1{
    position: absolute;
    background-color: #1f1e1e;
    height: 12vw;
    width: 7vw;
    /* transform: rotate(0deg); */
    margin-top: -1vw;
    margin-left: -2vw;
}
#rt-sq1{
    position: absolute;
    background-color: #1f1e1e;
    height: 12vw;
    width: 7vw;
    /* transform: rotate(0deg); */
    margin-top: -1vw;
    margin-left: -2vw;
}
.sq2{
    position: absolute;
    background-color: #1f1e1e;
    height: 6vw;
    width: 3vw;
    transform: rotate(45deg); 
    margin: -1.5vw;
    margin-left: 0vw;
}
#js-sq2{
    position: absolute;
    background-color: #1f1e1e;
    height: 4vw;
    width: 3vw;
    transform: rotate(90deg); 
    margin: 7.5vw;
    margin-left: 3vw;
}
#rt-sq2{
    position: absolute;
    background-color: #1f1e1e;
    height: 2vw;
    width: 5vw;
    transform: rotate(180deg); 
    margin: 9vw;
    margin-left: 4vw;
}
#db-sq2{
    position: absolute;
    background-color: #1f1e1e;
    height: 8vw;
    width: 6.4vw;
    transform: rotate(90deg); 
    margin: 3.9vw;
    margin-left: 4vw;
}
.sq3{
    position: absolute;
    background-color: #1f1e1e;
    height: 5vw;
    width: 3vw;
    transform: rotate(0deg);
    margin-top: 2.3vw;
    margin-left: -2.5vw;
}
#css-sq3{
    position: absolute;
    background-color: #1f1e1e;
    height: 3vw;
    width: 3vw;
    transform: rotate(0deg);
    margin-top: 2.3vw;
    margin-left: -2.5vw;
}
#js-sq3{
    position: absolute;
    background-color: #1f1e1e;
    height: 4vw;
    width: 3vw;
    transform: rotate(148deg); 
    margin: 7.5vw;
    margin-left: 4vw;
}
#rt-sq3{
    position: absolute;
    background-color: #1f1e1e;
    height: 2vw;
    width: 4vw;
    transform: rotate(35deg); 
    margin: 8vw;
    margin-left: 7vw;
}
.sq4{
    position: absolute;
    background-color: #1f1e1e;
    height: 5vw;
    width: 3vw;
    transform: rotate(60deg);
    margin-top: 4vw;
    margin-left: -2.5vw;
}
#bs-sq4{
    position: absolute;
    background-color: #1f1e1e;
    height: 5vw;
    width: 4vw;
    transform: rotate(45deg);
    margin-top: 6vw;
    margin-left: -2.5vw;
}

.html-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 3vw;
    font-size: 1.5vw;
}
.css-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 3.3vw;
    font-size: 1.5vw;
}
.bs-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 1.7vw;
    font-size: 1.5vw;
}
.js-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 4vw;
    font-size: 1.5vw;
}
.rt-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 3vw;
    font-size: 1.5vw;
}
.c-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 3.5vw;
    font-size: 1.5vw;
}
.jv-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 3.5vw;
    font-size: 1.5vw;
}
.db-text{
    position: absolute;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3.7vw;
    margin-left: 3.5vw;
    font-size: 1.5vw;
}

#contact{
  margin-bottom: -2vw;
}

#touch-table{
  /* border: 1px solid white; */
  margin-left: 10vw;
  color: white;
  width: 80vw;
}
.touch-gif{
  margin: 0;
  padding: 0;
  width: 0vw;
  text-align: center;
}
#gif{
  position: relative;
  margin: 0;
  padding: 0;
  text-align: right;
  height: 28vw;
}
.touch-text{
  padding-top: 0.5vw;
  /* margin-bottom: -1vw; */
  font-family: "Anton", sans-serif;
  color: white;
}
#shy{
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}
#feelFree{
  font-size: 1.6vw;
  margin-right: 2.5vw;
  margin-bottom: 1vw;
  margin-top: 1.5vw;
}
#gummy-img{
  margin-left: 0vw;
  height: 7vw;
  width: 8vw;
  display: inline;
  position: relative;
}
#mail-img{
  margin-left: 0.9vw;
  margin-right: 0.8vw;
  height: 5vw;
  width: 6vw;
}
#call-img{
  margin-top: 1.4vw;
  margin-left: 1.1vw;
  margin-right: 0.8vw;
  height: 5vw;
  width: 5vw;
}
.idea{
  display: inline;
  position: absolute;
  margin-top: 1.3vw;
  color: #9c9897;
  font-size: 1.5vw;
}
#mail-me{
  margin-top: 0.5vw;
  margin-left: 0.2vw;
}
#call-me{
  margin-top: 1.3vw;
  margin-left: 0.9vw;
}
.description{
  display: inline;
  position: absolute;
  margin-top: 3.3vw;
  color: white;
  font-size: 1.5vw;
  margin-right: 2vw;
}  
#my-mail{
  margin-top: 2.5vw;
  margin-left: 0.3vw;
}
#my-number{
  margin-top: 3.5vw;
  margin-left: 0.9vw;
}

.fa {
  padding-top: 0.9vw;
  padding-left: 1.4vw;
  font-size: 20vw;
  width: 3.5vw;
  height: 3.5vw;
  text-decoration: none;
  border-radius: 50%;
}

.social-icons{
  margin-top: 2vw;
  margin-left: 40vw;
  margin-bottom: 0.6vw;
}
.fa:hover {
  opacity: 0.7;
  color: #ffb400;
}
.fa-facebook {
  /* background: #3B5998; */
  color: white;
  padding-left: 1.2vw;
  font-size: 4vw;
  margin-right: 0.4vw;
}
.fa-facebook::before{
  font-size: 1.7vw;
}
.fa-linkedin {
  /* background: #007bb5; */
  padding-left: 1.1vw;
  color: white;
  margin-right: 0.4vw;
}
.fa-linkedin::before{
  font-size: 1.7vw;
}
.fa-instagram {
  /* background: #125688; */
  padding-left: 1.1vw;
  padding-top: -0.1vw;
  color: white;
  margin-right: 0.4vw;
}
.fa-instagram::before{
  font-size: 1.7vw;
}
.fa-github {
  /* background: #125688; */
  padding-left: 1vw;
  color: white;
  margin-right: 0.4vw;
}
.fa-github::before{
  font-size: 1.8vw;
}
.fa-google {
  /* background: #125688; */
  padding-left: 1.1vw;
  color: white;
  margin-right: 0.4vw;
}
.fa-google::before{
  font-size: 1.7vw;
}

.copyright{
  color: white;
  text-align: center;
  margin-bottom: 0.5vw;
  font-size: 0.95vw;
}

@media only screen and (max-width: 2300px) {
  #myImg {
    width: 45vw;
    height: 45vw;
    padding-top: 8vw;
  }
  /* .aboutMe-title{
        margin-top: 33vh;
    } */
}

@media only screen and (max-width: 1855px) {
  #myImg {
    width: 45vw;
    height: 45vw;
    padding-top: 8vw;
  }
  /* .aboutMe-title{
        margin-top: 33vh;
    } */
}

@media only screen and (max-width: 1455px) {
  #myImg {
    width: 45vw;
    height: 45vw;
    padding-top: 8vw;
  }
  /* .aboutMe-title{
        margin-top: 33vh;
    } */
}

@media only screen and (max-width: 1200px) {
  #myImg {
    width: 45vw;
    height: 45vw;
    padding-top: 8vw;
  }
  .title {
    padding-top: 18vw;
    margin-left: 50vw;
  }
  .caption {
    margin-left: 50vw;
  }
  /* .aboutMe-title{
        margin-top: 20vh;
    } */
}

@media only screen and (max-width: 920px) {
  #myImg {
    width: 45vw;
    height: 40vw;
    padding-top: 8vw;
  }
  .title {
    padding-top: 15vw;
    margin-left: 50vw;
  }
}

@media only screen and (max-width: 650px) {
  #myImg {
    width: 45vw;
    height: 40vw;
    padding-top: 8vw;
  }
}
