@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF8F0;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

nav {
  background-color: #DE6E4B;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

nav a {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
  
}

nav a:hover {
  border-bottom: 3px solid #fff;
}

header {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1540397106260-e24a507a08ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=761&q=80);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: #fff;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

header p {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

section {
  text-align: center;
  padding: 20px;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
}

.project-tile {
  margin: 10px;
  max-width: 240px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile img {
  max-width: 100%;
}

.project-tile p {
  font-size: 20px;
  margin-top: 10px; 
  color: #000;
}

.bg-blue {
  background-color: #7FD1B9;
  color: #fff;
}

.social-ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-ul a {
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 5px 10px;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

footer {
  background-color: #DE6E4B;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer .fa-heart {
  color: red;
}

@media (max-width: 440px) {
  section {
    padding: 20px;
  }
}