.intro{
    display: flex;
    height: 100vh;
    /* background-color: aqua; */

}

.intro-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-right{
    flex: 1;
    position: relative;
}

.left-wrapper{
    padding:30px;
    
    height: 50%;
    justify-content: center;

}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
}
.i-title{
    height: 50px;
    overflow: hidden;
    padding-bottom: 10px;

}
.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;


}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}
.i-description{
    margin-top: 20px;
}
.i-right-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.scroll-button{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    
}
.i-right-bg{
width: 100%;
height: 100%;
background-color: #59b256;
clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
position: absolute;
top: 0;
right: 0;
}